<div class="contenedor">
  <img src="img/logo.png" />
</div>
  <div class="texto contenedor-about">
    <h2>
      Nuestra empresa
    </h2>
    <hr />
    <p>
      Brindamos soluciones para la gestión de datos mendiante notas,gestionar evidencias, cursos y grupos.
    </p>
  </div>
</div>