<div class="container-portada">
    <div class="capa-gradient">
        <div class="container-details">
            <div class="details">
                <img src="img/logo.png" alt="logo-header" />
                <p></p>
                <button>Ver mas detalles</button>
            </div>
        </div>
    </div>
</div>