<div class="container-portada">
    <div class="capa-gradient">
        <div class="container-details">
            <div class="details">
                <img src="img/logo.png" alt="logo-header" />
                <p>Somos una empresa para gestión de activiades escolares en donde facilmente podrás gestionar todos tus estudiantes.</p>      
                <a href="/about"><button>Ver mas detalles</button></a>
            </div>
        </div>
    </div>
</div>
