<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        Registrar instituci칩n
      </div>
      <div class="card-body">
        <form action="/users/register2" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email instituci칩n" value="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="text" placeholder="Nombre instituc칩n" value="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="contrase침a" value="">
          </div>
          <button class="btn btn-primary btn-block">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>