<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Learn2life</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Acerca de Nosotros</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion Educativa
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/assignments">Evidencias</a>
                            <a class="dropdown-item" href="/assignments/add">Agregar Evidencia</a>
                            <a class="dropdown-item" href="/users/logout">Cerrar session</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a href="/users/signin" class="nav-link">Iniciar Session</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/signup" class="nav-link">Registrarse</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" id="navbar">
          <href class="navbar-brand float-start" id="item-1" to="/">
            <h2>Learn2Life</h2>
          </href>
          <divclass="container">
            <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav text-center">
                <li class="nav-item">
                  <href class="nav-link text-white" to="/">Inicio</href>
                </li>
                <li class="nav-item">
                  <href class="nav-link text-white" to="/about">About Us</href>
                </li>
              </ul>
              <ul className="navbar-nav ms-auto">
                <li className="nav-item">
                  <href className="nav-link text-white" to="/Login">Iniciar Sesion</href>
                </li>
                <li className="nav-item" id="nav-item2">
                  <href className="nav-link active" to="/Register">Registrarse</href>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Menu Learn
                  </a>
                  <ul className="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Evidencias</a></li>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>class